{% extends 'base.html' %}


{% block content %}

<div class="container mt-4">
    
    <div class="p-4 m-4">

        
        <div class="col-lg-5 rounded mx-auto border pt-4">
            <div class="text-center col">
            
                <img 
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Shopping_cart_with_food_clip_art_2.svg/307px-Shopping_cart_with_food_clip_art_2.svg.png" alt=""
                class="" style="height: 80px;">
            <!-- <hr> -->
            <div class="display-7">Add Products</div>
            <hr>
            </div>

            <h3 hidden class="alert alert-light border rounded">Add Products</h3>
              


            <form action="/addproducts" method="POST" enctype="multipart/form-data">

                {% csrf_token %}

                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endif %}

                <!-- Productname -->
                <div class="form-group">
                    <label for="">Product Name</label>
                    <input type="text" name="name"
                     id="" value=" " class="form-control form-control-sm" 
                     placeholder="">
                </div>

                <!-- productprice -->
                <div class="form-group">
                    <label for="">Product Price</label>
                    <input type="text" name="price" 
                    id="" value="" class="form-control form-control-sm"
                    >
                </div>


              <!-- prodductcategory -->
          
      <br>

      <div>
         <label for="cars">Choose a Category:</label>
         <select name="category" id="cars">
         
             {% for category in categories %}
            <option value="{{category.name}}">{{category.name}}</option>
             {% endfor %}
         </select>
      </div> 
        
        <br>

                <!-- productdescription -->
                <div class="form-group">
                    <label for="">Product Description</label>
                    <input type="text" 
                    name="description" 
                    id="" value=""
                     class="form-control form-control-sm" placeholder="">
                </div>

                <!-- productimage -->
                <div class="mb-5">
                    
                    <label for="" class="form-label">Upload Product Image</label>
                    <input class="form-control" required name="image" type="file" id="formFile">
          
                </div>
                
 
                <hr>
                <div class="form-group">
                    <input class="btn btn-sm btn-info" type="submit" value="Add Product ">
                </div>

                
            </form>
             
        </div>
    </div>
</div>

{% endblock %}