{% extends 'base.html' %}


{% block content %}
{% load cart %}
{% load custom_filter %}

<div class="container">
   <div class="border rounded p-4 m-4">
        <p class="display-4 pl-4 ml-4">My Uploaded Products</p>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Sno.</th>
                    <th>Image</th>
                    <th>Product Nane</th>
                    <th>Price</th> 
                    <th>Delete Product</th> 
                </tr>
            </thead>
            <tbody>
                
                {% for product in products %}
                <tr>

                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 80px;" class="rounded-circle" src="{{product.image.url}}" alt=""></td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>

                    <td>  
                        <form action="/myproducts" method="POST" class="btn-block">
	                             
							{% csrf_token %}
							<input hidden type="number" name="product" value="{{product.id}}">
                            <input type="submit" class="m-0 p-0 btn-sm btn-danger" value="Delete">
						</form> 
					</td>
                   
                </tr>

                {% endfor %}
               
            </tbody>

        </table>
       
   </div>
</div>





{% endblock %}